span{
    display: block;
}

.outer{
    border: 2px solid black;
    padding: 2px 20px 20px 20px;
    width: fit-content;

}

.inner{
    border: 2px solid black;
    display: inline-block;
    width: 150px;
    height: 250px;
    margin: 10px;
    text-align: center;

}
.first{
    background-color: yellow;
}
.second{
    background-color: red;
}
.third{
    background-color: skyblue;
}
