.container{
    display: flex;
    /* flex-direction: column; */
    height: 500px;
    width: 400px;
    flex-wrap: wrap;
    /* gap: 45px; */
    justify-content: space-between;
    /* align-items:stretch; */
    align-content: space-evenly;
    background-color: aqua;
    border: 1px solid black;
}
.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 2px solid black;
    color: white;
    text-align: center;
    /* flex-grow: 1; */

}

.item2{
    /* order: -1; */
    flex-grow: 1;
    
    
}