.container {
    display: grid;
    height: 500px;
    width: 600px;
    background-color: aqua;
    border: 2px solid black;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-areas: "header header header header""main main . sidebar""footer footer footer footer";
    /* column-gap: 62px; */
    /* justify-items: center;
    align-items: center; */
    /* place-items: center; */
    justify-content: space-around;
}

.item {
    height: 100px;
    width: 100px;
    background-color: brown;
    color: white;
    font-size: 20px;
    border: 2px solid black;
}
/* .item1{
    grid-area: header;
}

.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area:footer;
} */