.external {
    border: 3px solid rgba(208, 255, 0, 0.63);
    background-color: rgb(222, 135, 221);
}

.change {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#changeid {
    color: cadetblue;
}

p{
    text-align: justify;
}

.box{
    border: 5px dashed ;
    border-radius: 2px;
    padding: 20px;
    margin: 20px;
    height: 100px;
    width: 100px;
    text-align: center;
    align-content: center;
    font-size: 20px;
    
}

.external{
    border: 5px solid black;
    background-color: white;

}
.external h1{
    color: purple;
    text-align: center;

}

.external p{
    color: red;
}

.assign{
    background-color: white;
    border: 3px solid black;
    padding: 10px;
    height: 440px;
    

}

.inner{
    background-color: blue;
    text-align: center;
    padding: 20px;
    height: 319px;

}

.word{
    background-color: yellow;
    padding: 20px;
    height: 280px;
    align-content: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;

}